body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .linha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px; 
  }
 
  .linha1 { background-color: #e8e6f8; }
  .linha2 { background-color: #ddf6d4; }
  .linha3 { background-color: #fde9eb; }
  .linha4 { background-color: #f9f9d9; }
  .linha5 { background-color: #d8e9ff; }
  
  
  .circulo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
  }

  .roxo { justify-content: right; 
    background-color: #9a8fd8; }
  .verde { background-color: #6fad5d; }
  .vermelho { background-color: #cc6f73; }
  .amarelo { background-color: #d6d62b; }
  .azul { background-color: #4676b9; }
  